h1{
    text-align: center;
    font-size: 2em;
    color: #333;
}

p{
    font-size: 1.2em;
    color: #333
}

a{
    display: inline-block;
    background-color: #1a73e8;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;

}

body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

a:hover{
    background-color: #155cb0;
}