html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: justify;
}

body{
    background-image: url('https://cdn.wallpapersafari.com/51/88/E7MSNJ.jpg');
    background-size: cover; 
}

header{
    font-size: 100px;
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(255,255,255, 0.6);
}

h1{
    font-size: 50px;   
}


h3{
    font-size: 40px;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

.infoContainer{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    box-sizing: border-box;
    gap: 20px;
}

.infoContainer > div {
    flex: 1;
    background-color: rgb(255,255,255, 0.4);
    padding: 20px;
    margin: 10px;
    border-radius: 10px; 
}

