header{
    background-color: black;
    padding: 10px;
    margin: 10px;
    color: red;
    border:2px purple solid;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
}
nav{
    background-color: beige;
    font-size: 10;
}

section{
    background-color: aliceblue;
}

footer{
    background-color: bisque;
}