* {
    margin: 0;
    padding: 0;    
  }

header h1 {
    background-color:#6930C3;
    padding: 20px;
    width: 100%;
}

nav {
    position: fixed;
    right: 0;
    width: 150px;
    height: 100%;
    background-color: #7400B8;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
