header{
    background-color: rgb(248, 242, 189);
    color: rgb(196, 16, 151);
    border: 1px blanchedalmond;
    border-radius: 10px;
    font-family:cursive;
    text-align: center;
}



.botones-redes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.btn {
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.instagram {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

.github {
    background: linear-gradient(45deg, #333, #6e5494);
}

.correo {
    background: linear-gradient(45deg, #97caed, #76a8ff);
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .contenido {
    min-height: calc(100vh - 50px); 
    padding: 20px;
  }
  
  /* Footer pegado abajo */
  .footer {
    background-color: #fef6cc;
    color: #d00087;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
  }
  
/* margen */
.contenedor-imagen {
    text-align: center;
    margin: 30px 0;
}


.imagen-estilizada {
    width: 200px;
    border: 5px solid #cff884; 
    border-radius: 15px; 
}


.descripcion-imagen {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
    margin-top: 10px;
    font-style:italic;
}