body {
  
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #b4b5c4;
  background-color: #c7c4c4;
  

    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  

}


header {
  background-color: #bdb1bc;
  text-align: center;
  padding: 20px;
}

header img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

header h1 {
  margin: 10px 0;
  color: #333;
}

header p {
  color: #555;
  font-size: 18px;
}

section {
  background-color: #94507a;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

#skills ul {
  list-style-type: none;
  padding: 0;
}

.subtittle{
  color:#5a5094;
}
#skills li {
  background-color: #ca9dc4;
  color:#333;
  padding: 8px;
  margin: 5px;
  display: inline-block;
  border-radius: 4px;
}

footer {
  
  background-color: #c7c4c4;
  color:#333;
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

footer a {
  color: #0066cc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}